Repository Flex-EV/web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:fix, yarn lint

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "yarn format",
        "yarn lint:fix",
        "yarn lint"
    ],
    "*/**/*.{json,css,md}": [
        "yarn format"
    ]
}

Created a regex for phone number and required fields
  src/pages/rider-management/components/AddRiderModal.tsx
  tailwind.config.js
Due: yarn format, yarn lint:fix, yarn lint

Made the required changes
  src/pages/rider-management/RiderManagement.tsx
  src/pages/rider-management/components/AddRider.tsx
  src/pages/rider-management/components/Riders.tsx
  src/pages/rider-management/data/AddRider.data.ts
  src/pages/rider-management/data/RiderTable.data.ts
  src/pages/rider-management/enum/Gender.enum.ts
  src/pages/rider-management/model/AddRider.interface.ts
  src/pages/rider-management/model/RiderTable.interface.ts
  src/pages/rider-management/validation/RegexPattern.ts
  src/ui/components/FlexFileInput.tsx
  src/ui/components/FlexSubmitButton.tsx
  src/ui/components/FlexTextInput.tsx
Due: yarn format, yarn lint:fix, yarn lint

Resolved the comments
  src/pages/rider-management/components/AddRider.tsx
  src/pages/rider-management/components/Riders.tsx
  src/pages/rider-management/data/AddRider.data.ts
  src/pages/rider-management/data/Riders.data.ts
  src/pages/rider-management/model/AddRider.interface.ts
  src/ui/components/FlexButton.tsx
  src/ui/components/FlexFileInput.tsx
  src/ui/components/FlexTextInput.tsx
  src/ui/components/Header.tsx
  src/ui/model/Button.interface.ts
  src/ui/model/FileInput.interface.ts
  src/ui/model/TextInput.interface.ts
Due: yarn format, yarn lint:fix, yarn lint

Resolved all the comments ready to merge
  package.json
  src/App.tsx
  src/pages/rider-management/components/AddRider.tsx
  yarn.lock
Due: yarn format, yarn lint:fix, yarn lint

Added redux and get riders api
  package.json
  src/main.tsx
  src/pages/rider-management/components/Riders.tsx
  src/pages/rider-management/data/Riders.data.ts
  src/pages/rider-management/model/RiderTable.interface.ts
  src/pages/rider-management/model/Riders.interface.ts
  src/pages/rider-management/riderManagementSlice.ts
  src/pages/rider-management/service/RiderManagementService.ts
  src/routes/Routes.tsx
  src/store/reducers.ts
  src/store/store.ts
  src/ui/components/FlexLoader.tsx
  yarn.lock
Due: yarn format, yarn lint:fix, yarn lint

fix
  src/pages/rider-management/service/RiderManagementService.ts
  src/ui/components/FlexLoader.tsx
Due: yarn format, yarn lint:fix, yarn lint

Added build and docker build workflow
  .dockerignore
  .github/workflows/build.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pull-request.yaml
  Dockerfile
Due: none

Fixed triggering of build workflow
  .github/workflows/deploy.yaml
Due: none

FIx docker build
  .github/workflows/deploy.yaml
Due: none

Fix docker build
  .github/workflows/deploy.yaml
Due: none

Fix workflow
  .github/workflows/deploy.yaml
Due: none

Added ecr login id
  .github/workflows/deploy.yaml
Due: none

Added ecs deployment workflow
  .aws/dev-ecs-task-definition.json
  .github/workflows/deploy.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/snyk-analysis.yaml
Due: yarn format

fix
  .github/workflows/build.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/snyk-analysis.yaml
Due: none

Fixed Add RIder Modal
  src/pages/rider-management/components/Riders.tsx
Due: yarn format, yarn lint:fix, yarn lint

Fix reload issue in nginx
  Dockerfile
  nginx.conf
Due: none

Fixed docker workflow
  Dockerfile
Due: none

Fix nginx config
  Dockerfile
Due: none

Fix logo issue
  index.html
  src/assets/flex_logo.jpeg
  src/ui/components/Sidebar.tsx
Due: yarn format, yarn lint:fix, yarn lint

Fix logo in the sidebar
  .github/workflows/pull-request.yaml
Due: none
