Repository Flex-EV/web-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:fix, yarn lint

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "yarn format",
        "yarn lint:fix",
        "yarn lint"
    ],
    "*/**/*.{json,css,md}": [
        "yarn format"
    ]
}

Added dependecy
  .env
  package.json
  yarn.lock
Due: none

fix
  src/modules/dashboard/components/GoogleMap.tsx
Due: yarn format, yarn lint:fix, yarn lint

Updated docker
  Dockerfile
Due: none

Add api url
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

Added secret key for google api
  .aws/dev-ecs-task-definition.json
  .gitignore
  Dockerfile
  README.md
  docker-entrypoint.sh
  nginx.conf
  src/modules/dashboard/components/GoogleMap.tsx
  src/types/global.d.ts
  src/util/env.ts
Due: yarn format, yarn lint:fix, yarn lint

fix
  nginx.conf
  src/types/global.d.ts
  src/util/env.ts
Due: yarn format, yarn lint:fix, yarn lint

fix
  Dockerfile
  docker-entrypoint.sh
Due: none

fix secret
  .aws/dev-ecs-task-definition.json
Due: yarn format

fix secret value
  .aws/dev-ecs-task-definition.json
Due: yarn format

Test develop branch
  .aws/dev-ecs-task-definition.json
  .github/workflows/build.yaml
  .github/workflows/deploy.yaml
  .gitignore
  nginx.conf
  src/modules/dashboard/components/GoogleMap.tsx
  src/util/env.ts
Due: yarn format, yarn lint:fix, yarn lint

Added develop test
  .github/workflows/deploy.yaml
Due: none

test
  .github/workflows/build.yaml
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

Hardcode prod url
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

fix dev
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

Update AddRider.tsx
  src/modules/rider-management/components/AddRider.tsx
Due: yarn format, yarn lint:fix, yarn lint

Made passbook optional
  src/modules/rider-management/components/AddRider.tsx
Due: yarn format, yarn lint:fix, yarn lint

Update AuthService.ts
  src/modules/auth/service/AuthService.ts
Due: yarn format, yarn lint:fix, yarn lint

Update RiderManagementService.ts
  src/modules/rider-management/service/RiderManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

Update VehicleManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

fix api url
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

Fix base url
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

fix secret issue
  .github/workflows/build.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pull-request.yaml
Due: none

remove logging
  .github/workflows/build.yaml
Due: none

remove logging
  src/modules/auth/pages/Login.tsx
  src/modules/dashboard/components/GoogleMap.tsx
Due: yarn format, yarn lint:fix, yarn lint

fix
  .github/workflows/build.yaml
Due: none

updated dev
  .github/workflows/build.yaml
Due: none

Fix api url issue
  .github/workflows/build.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pull-request.yaml
Due: none

Fix api url issue
  .github/workflows/pull-request.yaml
Due: none

Update api url
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

update url
  src/modules/auth/service/AuthService.ts
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

Fix google map keys
  .github/workflows/build.yaml
  src/modules/dashboard/components/GoogleMap.tsx
  src/vite-env.d.ts
Due: yarn format, yarn lint:fix, yarn lint

Fix workflow and secret injection
  .github/workflows/deploy.yaml
  Dockerfile
Due: none

remove reuasble workflow
  .aws/dev-ecs-task-definition.json
  .aws/prod-ecs-task-definition.json
  .github/workflows/build.yaml
  .github/workflows/pull-request.yaml
  src/modules/auth/service/AuthService.ts
  src/modules/dashboard/components/GoogleMap.tsx
  src/modules/rider-management/service/RiderManagementService.ts
  src/modules/vehicle-management/service/VehicleManagementService.ts
Due: yarn format, yarn lint:fix, yarn lint

Remove env vars
  .github/workflows/deploy.yaml
  src/vite-env.d.ts
Due: yarn format, yarn lint:fix, yarn lint
